body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f4f4f9;
}

button {
  padding: 0.4em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#group-list {
  max-width: 95vw;
}

.group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.group button {
  margin-left: 5px;
}

#add-group-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s;
}

.modal.active {
  visibility: visible;
  opacity: 1;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.modal-content input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 10em;
}

.modal-content .color-button {
  padding: 10px 20px;
  background: #007bff;
  color: white;
}

.modal-content .color-button.close {
  background: #ccc;
}

.horizontal-layout {
  display: flex;
  flex-direction: row;
}

.vertical-layout {
  display: flex;
  flex-direction: column;
}

.cat-background {
  background: url('/assets/images/catty.jpg') no-repeat center center;
  background-size: cover;
  color: white;
  font-size: 1.25em;
}

.remove-movement-btn, .show-movement-detail-btn {
  cursor: pointer;
}

/*
.movement-summary {
  display: inline-block;
  max-width: 6em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}*/

.movement-summary {
  display: block; /* Permite que el texto se ajuste en varias líneas */
  max-width: 11em; /* Limita el ancho máximo */
  overflow: hidden; /* Oculta el exceso de texto */
  text-overflow: ellipsis; /* Muestra los puntos suspensivos */
  word-break: break-word; /* Rompe palabras si es necesario */
}